html, body {
  height: 100%;
  width: 100%;
}

.blok1 {
  height: 100%;
  background-image: url('/static/images/baim-hanif-pYWuOMhtc6k-unsplash.jpg');
  background-position: center center;
  background-size: cover;
  margin-top: -1.5em;
  display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background: none;
}
.text{
	font-size: 30px;
	color:black;
	font-family: sans-serif;
    text-align: center;
	text-shadow: 0px 15px 12px #000;
    margin-top: 0;
}
.line{
	width:800px;
	height: 8px;
	background-color: black;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}

.link{
background-color: black;
padding: 8px 20px;
text-decoration:none;
border-radius:8px;
cursor:pointer;
}
